/*jQzoom*/
* {box-sizing:border-box;}

/* not main style */
.container {
    height:360px;
    width: 300px;
    margin:100px auto 0;
    background:red;
    overflow: hidden;
    zoom:1;
}
.t_container {
    height: 300px;
    width: 300px;
    overflow: hidden;
    zoom:1;
}
.jqzoom {
    position: relative;
    height: 100%;
    width: 100%;
    border:1px solid #ccc;
    border-bottom: none;
}
.jqzoom img {
    display: block;
    border:none;
    height: 100%;
    width: 100%;
}
.b_container {
    height: 60px;
    width: 300px;
    overflow: hidden;
    zoom:1;
}
.b_container > img {
    display: block;
    border:1px solid #ccc;
    border-left: none;
    float: left;
    width: 20%;
    height: 60px;
}
.b_container > img:first-child {
    border-left: 1px solid #ccc;
}





/* main style */
div.zoomdiv {
    z-index:    999;
    position                : absolute;
    top:0px;
    left:0px;
    width                   : 200px;
    height                  : 200px;
    background: #ffffff;
    border:1px solid #CCCCCC;
    display:none;
    text-align: center;
    overflow: hidden;
}
div.jqZoomPup {
    z-index                 : 999;
    visibility              : hidden;
    position                : absolute;
    top:0px;
    left:0px;
    width                   : 50px;
    height                  : 50px;
    border: 1px solid #aaa;
    background: #ffffff url(../images/zoomlens.gif) 50% top  no-repeat;
    opacity: 0.5;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    filter: alpha(Opacity=50);
}