<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>js原生模板</title>
<script>
var tpl=function(a,d){var c=function(l){var j,h=[],g=[];for(j in l){h.push(j);g.push(l[j])}return(new Function(h,c.$)).apply(l,g)};if(!c.$){var f=a.split("<%");c.$="var $=''";for(var b=0;b<f.length;b++){var e=f[b].split("%>");if(b!=0){c.$+="="==e[0].charAt(0)?"+("+e[0].substr(1)+")":";"+e[0].replace(/\r\n/g,"")+"$=$"}c.$+="+'"+e[e.length-1].replace(/\'/g,"\\'").replace(/\r\n/g,"\\n").replace(/\n/g,"\\n").replace(/\r/g,"\\n")+"'"}c.$+=";return $;"}return d?c(d):c};
</script>
</head>

<body>

<div id="content1"></div>
<script id="test" type="text/html">
    <% for (var i=0;i<list.length;i++) { %>
        <div><%=i%>. <%=list[i]%>
		 <%=this.title1||'不存在则输出'%>
         <%= (this.t!=undefined)?"存在":"不存在"%>
		</div>
    <%}%>
    <%=title%>
</script>
<script>
var data = {
    title: '标签',
    list: ['文艺', '博客', '摄影', '电影', '民谣', '旅行', '吉他']
};
var html = tpl(document.getElementById('test').innerHTML, data);

document.getElementById('content1').innerHTML = html;
</script>


<div id="content"></div>
<script>
var data={
    txt:"登鹳雀楼",
    list:[
        "白日依山尽",
        "黄河入海流",
        "欲群千里目",
        "更上一层楼"
    ]
}
var tplHTML=' <div><%=txt%></div>'+
        '<% for(var i=0;i<list.length;i++){ %>'+
                    '<p><%=list[i]%></p>'+
                '<% } %>';
var dest=tpl(tplHTML,data);
document.getElementById('content').innerHTML = dest;
</script>

</body>
</html>
